GroceryList/.DS_Store
.DS_Store
GroceryList/GroceryList.xcodeproj/project.xcworkspace/xcuserdata/martina.xcuserdatad/UserInterfaceState.xcuserstate
GroceryList/GroceryListGroceryList.xcodeproj/xcuserdata/martina.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
